{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<header id="images" class="text-center">
    <h1>Venez Decouvrir</h1>
</header>

<main class="container-fluid p-5">
    <div class="card" style="width: 18rem;">
        <img src="{{ asset('img/couscous.jpg') }} "  class="card-img-top" alt="couscous au poisson">
        <div class="card-body">
            <h5 class="card-title">CousCous Au Poisson</h5>
            <p class="card-text">Un Couscous Avec du Poisson Grillé Au Four</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">CousCous</li>
            <li class="list-group-item">Poisson (Dorade)</li>
            <li class="list-group-item">Les Legumes</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Recette Complete</a>
        </div>
    </div>
</main>
{% endblock %}