{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<header id="images" class="text-center"></header>

<main>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="{{asset('img/couscous.jpg')}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Couscous Au poisson</h5>
              <p class="card-text">couscous avec la dorade</p>
              <a href="#" class="card-link">Recette Complete</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{{asset('img/lablabi2017')}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lablabi</h5>
              <p class="card-text">Lablabi tunisien</p>
              <a href="#" class="card-link">Recette Complete</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{{asset('img/couscous au poulet')}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Couscous au Poulet</h5>
              <p class="card-text">Couscous Au poulet</p>
              <a href="#" class="card-link">Recette Complete</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{{asset('img/youyous')}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Youyou</h5>
              <p class="card-text">Donuts Tunisienne</p>
              <a href="#" class="card-link">Recette Complete</a>
            </div>
          </div>
        </div>
      </div>
</main>
{% endblock %}